<a href="https://colab.research.google.com/github/ShravantiHable/AA/blob/main/ADV_C195_2(Solution).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Additional-Activity-2
#plot the pie chart showing the percentage of an event occured in a month.

#predefine code
import pandas as pd
import matplotlib.pyplot as plt 

df = pd.read_csv('https://shravantihable.github.io/AA/austin_weather.csv')
df

df['month'] = pd.DatetimeIndex(df['Date']).month
df

group_by_month = df.groupby('Events')['month'].max().reset_index()
group_by_month
#predefine code end

#remove the missing values from the dataframe group_by_month. Use the replace() function and update the parameters as
# " " - missing values
#float("NaN") - replace the missing values with NaN
#inplace=True - replace the values wherever the NaN values is True



#apply the dropna() functionality on the group_by_month variable and store it in variable new_df

#call the new_df variable


#define a variable value, and inside it store values of month column of new_df data frame.

#define a variable label, and inside it store values of Events column of new_df data frame.

#using the plt.pie() function, and update the parameters for the following:
#value - which holds the values of month column of new_df data frame
#labels - which holds the values of Events column of new_df data frame
#autopct - set the percentage value upto 1 decimal place
#radius - set the radius of the pie chart

#plt.show()

                      Events  month
0                                12
1                        Fog     12
2                 Fog , Rain     12
3  Fog , Rain , Thunderstorm     11
4         Fog , Thunderstorm      4
5                       Rain     12
6                Rain , Snow      1
7        Rain , Thunderstorm     12
8               Thunderstorm     10