<a href="https://colab.research.google.com/github/ShravantiHable/AA/blob/main/ADV_C196_3(Solution).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Additional Activity 3
#filter the passengers who survived in the Titanic ship and group by age and count the names of the people in that age group.
#predefine code
#import the required packages 
import pandas as pd
import matplotlib.pyplot as plt
#Read the csv file.
df = pd.read_csv("https://shravantihable.github.io/AA/titanic_crew_info.csv")
df
#predefine code end

#using the df dataframe, acess the dropna() funciton and store it in variable df
df = df.dropna()
#print the df variable
df
#using the df variable access the loc[] function and inside it access the 'Survived' column of the df dataframe and check if the values are equal to 1.0 and store the dataframe into variable new_df.

new_df = df.loc[df['Survived'] == 1.0]
#print the variable new_df
new_df
#using the new_df variable access the groupby() function and inside it add the 'Age' column and add one more column ['Name'] and apply the count() function on it and reset the index and store it in variable  groupby_age.
groupby_age = new_df.groupby('Age')['Name'].count().reset_index()
#print the variable groupby_age
groupby_age

   Age  Name
0   15     1
1   17     1
2   18     3
3   19     5
4   20     5
5   21     6
6   22    10
7   23     6
8   24     9
9   25    14
10  26     3
11  27     7
12  28    10
13  29     5
14  30    10
15  31     9
16  32    13
17  33     6
18  34     7
19  35     3
20  36     5
21  37     4
22  38     3
23  39     6
24  40     8
25  41     8
26  42     4
27  43     3
28  44     3
29  45     2
30  47     2
31  48     1
32  50     1
33  51     1
34  58     1
35   ?    17