<a href="https://colab.research.google.com/github/ShravantiHable/AA/blob/main/ADV_C197_2(Solution).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
#Activity2- change the data type of Windspeed and find maximum windspeed according to month 
#Predefine start
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 

df = pd.read_csv('https://shravantihable.github.io/AA/2015_Air_quality_in_northern_Taiwan.csv')
df

df['month'] = pd.DatetimeIndex(df['time']).month
df['time_hours'] = pd.DatetimeIndex(df['time']).time
df

df.replace( '', float('nan') ,inplace=True)
df.replace( '0', float('nan') ,inplace=True)
df.replace('.#$', float('nan') ,inplace=True, regex=True)
df.replace('.x$', float('nan') ,inplace=True, regex=True)
df = df.dropna()
df
#predefined end

#access the column 'WIND_SPEED' of df dataframe, using '.' operator access the astype() function and inside the brackets write float. this will convert the datatype of the 'WIND_SPEED' column to float. And store it inside the df['WIND_SPEED'] column itself
df['WIND_SPEED'] = df['WIND_SPEED'].astype(float)
#print df['WIND_SPEED']
df['WIND_SPEED']

#define a variable new_dataframe, and inside it access the groupby() function using the df variable and inside it write the column names as ['month','time_hours'] and add one more column ['WIND_SPEED'] and using the '.' operator access the max function and reset the index to 0.

new_dataframe = df.groupby(['month','time_hours'])['WIND_SPEED'].max().reset_index()
#print the variable new_dataframe.
new_dataframe

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10,14,18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

     month time_hours  WIND_SPEED
0        1   05:00:00         1.1
1        1   06:00:00         2.4
2        1   07:00:00         4.3
3        1   08:00:00         4.2
4        1   09:00:00         4.6
..     ...        ...         ...
159     12   13:00:00         5.1
160     12   14:00:00         4.2
161     12   15:00:00         3.9
162     12   16:00:00         4.4
163     12   17:00:00         3.0

[164 rows x 3 columns]