<a href="https://colab.research.google.com/github/ShravantiHable/AA/blob/main/ADV_C194_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Additional-Activty-1
# count the total movies and total Netflix movies from the dataset.
#predefine code
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('https://shravantihable.github.io/AA/movie_update.csv')
df
#predefined code end

#to count the total number of movies access the 'ID' column present in df dataframe, by passing 'ID' as the index to the dataframe df, followed by '.' dot operator followed by count() function and store it inside the variable total_movies. 

#then inside print() function write the string "Total Movies - " followed by comma ',' and write the variable total_movies. 


#to count the total number of netflix movies, first locate all the values of the column 'Netflix' whose value is equal to 1. Do this by using the df.loc[ ] attribute, And inside loc[ ]function write the condition as df['Netflix'] == 1 and store it in variable total_netflix_movies.

#then after getting all the values of 'Netflix' column, whose values are 1, apply the count function on the 'ID' column and store it in variable total_netflix_movies.

#now print the string "Total Netflix Movies - " followed by comma ',' followed by variable total_netflix_movies.