<a href="https://colab.research.google.com/github/ShravantiHable/AA/blob/main/ADV_C194_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Additional-Activty-3
#Get the total number of movies based on the countries
#predefine code
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('https://shravantihable.github.io/AA/movie_update.csv')
df
#predefine code end

#Press shift + enter to run the cell and check what columns are there in dataframe

#using the df.groupby() function, group the values of the 'Country' column to get the total movies based on the country, then add a column 'Title' inside the square brackets and apply the count function on it, and reset the index to 0 and store it in variable group_by_country.

#print the variable group_by_country

#then sort the values of the variable group_by_country using the sort_values()function, and inside the sort_values() add the parameter as by=['Title'] and followed by comma, add one more parameter as ascending=False, and store it in variable sorted_df

#print the variable sorted_df

       Unnamed: 0     ID  ...                 Language  Runtime
0               0      1  ...  English,Japanese,French    148.0
1               1      2  ...                  English    136.0
2               2      3  ...                  English    149.0
3               3      4  ...                  English    116.0
4               4      5  ...                  Italian    161.0
...           ...    ...  ...                      ...      ...
16739       16739  16740  ...                  English    120.0
16740       16740  16741  ...                  English     90.0
16741       16741  16742  ...                  English      NaN
16742       16742  16743  ...                  English      NaN
16743       16743  16744  ...                  English     32.0

[16744 rows x 17 columns]